<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tantei.toolkit.module.phoneelper">

    <application
       >
        <activity
            android:name=".PhoneHelperActivity">
        </activity>
    </application>

</manifest>